<template>
    <div style="position: relative">
        <base-nav type="primary" effect="dark" expand>
            <router-link :to = "{name: 'studentCabinet.home'}" class="navbar-brand" href = "#">Учебный центр Россети</router-link>

            <ul class="navbar-nav ml-lg-auto">
                <li class="nav-item">
                    <router-link :to = "{name: 'studentCabinet.courses'}" class="nav-link nav-link-icon" href = "#">
                        Курсы
                    </router-link>
                </li>
                <base-dropdown tag="li" :title="student ? student.lastName + ' ' + student.firstName : 'Студент'">
                    <a class="dropdown-item" href="#">Профиль</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#" @click.prevent = "logout">Выйти</a>
                </base-dropdown>
            </ul>
        </base-nav>
    </div>
</template>

<script>
import BaseNav from "@/components/BaseNav";
import BaseDropdown from "@/components/BaseDropdown";

import {mapGetters} from 'vuex';

export default {
    computed: {
        ...mapGetters('studentAuth', ['student'])
    },
    methods: {
        async logout() {
            await this.$store.dispatch('studentAuth/logout');
            this.$router.push({name: 'login'});
        }
    },
    components: {
        BaseNav,
        BaseDropdown
    }
}
</script>