@import url("https://use.fontawesome.com/releases/v5.0.13/css/all.css");
body {
    background-color: #f8f9fe;
    font-size: 14px;
}

.form-label {
    font-size: .875rem;
    font-weight: 600;
    margin-bottom: 4px;
    &.required {
        &::after {
            content: "*";
            color: #f5365c;
        }
    }
}

.form-field-help {
    font-size: .75rem;
    margin-top: 3px;
}

.vs {
    &__search::placeholder,
    &__dropdown-toggle,
    &__dropdown-menu {
        font-size: 0.875rem;
        color: #8898aa;
        background-color: #fff;
        background-clip: padding-box;
    }
    &__dropdown-toggle {
        border: 1px solid #cad1d7;
        min-height: calc(2.75rem + 2px);
        padding: calc(0.625rem - 4px) 0.75rem 0.625rem;
    }
    &__dropdown-option {
        padding: .5rem .75rem;
        &:hover,
        &--highlight {
            background-color: rgb(243, 243, 243);
            color: #000;
        }
        &--selected {
            color: #172b4d;
            font-weight: 600;
        }
    }
    &--multiple &__selected {
        background-color: #172b4d;
        color: #fff;
        font-size: .95em;
        padding: 0 0.375rem;
    }
    &__deselect {
        margin-left: 6px;
        fill: #fff;
    }
    &__open-indicator {
        cursor: pointer;
    }
    &__clear {
        svg {
            width: 14px;
            height: 14px;
        }
    }
}

.page-item.active .page-link {
    background-color: #172b4d;
    border-color: #172b4d;
}

.nav-pills .nav-link {
    color: #172b4d;
}

.nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
    background-color: #172b4d;
}

.pagination {
    .page-item.active {
        color: #fff;
        .page-link {
            cursor: default;
        }
    }
}

.flatpickr-current-month {
    font-size: 1em;
    display: flex;
    align-items: center;
    justify-content: center;
    .numInputWrapper {
        width: 8ch;
    }
}

.flatpickr-months .flatpickr-month {
    height: 42px;
}

@keyframes spinner-border {
    to {
        -webkit-transform: rotate(1turn);
        transform: rotate(1turn)
    }
}

.loading {
    position: relative;
    min-height: 6rem;
    &:not(&--onlyspinner)::before {
        content: "";
        position: absolute;
        z-index: 48;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        border-radius: inherit;
        background: rgba(255, 255, 255, .7);
    }
    &::after {
        content: "";
        position: absolute;
        z-index: 49;
        top: 50%;
        left: 50%;
        display: inline-block;
        width: 2rem;
        height: 2rem;
        margin-left: -1rem;
        margin-top: -1rem;
        vertical-align: text-bottom;
        border: 0.25rem solid;
        border-right: 0.25rem solid transparent;
        border-radius: 50%;
        -webkit-animation: spinner-border .75s linear infinite;
        animation: spinner-border .75s linear infinite;
    }
    &--onlyspinner {
        width: 2rem;
        height: 2rem;
        min-height: 2rem;
    }
}