<template>
    <div id = "loginPage">
        <div class = "container">
            <div class = "row justify-content-center">
                <div class = "col-md-5">
                    <form class = "loginForm" @submit.prevent = "submit">
                        <h5 class = "loginForm__title">Авторизация</h5>
                        <AlertErrors :errors = "errors"/>
                        <base-input placeholder="Логин" addon-left-icon="fa fa-user" v-model = "login"></base-input>
                        <base-input placeholder="Пароль" type = "password" addon-left-icon="fa fa-lock" v-model = "password"></base-input>
                        <div class = "row justify-content-center">
                            <div class = "col-md-8">
                                <base-button class = "mt-2" block type = "primary" nativeType="submit" :disabled = "!checkForm">Войти</base-button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import {mapMutations} from 'vuex';
import AlertErrors from '@/views/components/AlertErrors';

export default {
    data: () => ({
        login: 'psolovev',
        password: 'password',
        errors: false,
    }),
    methods: {
        async submit() {
            this.error = false;
            const rq = await this.$api.studentAuth.login(this.login, this.password);
            await rq.ok((data, message) => {
                try {
                    this.setStudent(data.user);
                    this.setTokens(data);
                    this.$router.push({name: "studentCabinet.home"});
                }
                catch (e) {
                    console.log(e);
                }
            })
            .unauthorized((data, message) => {
                this.errors = data;
            }).send();
        },
        ...mapMutations('studentAuth', ['setStudent', 'setTokens'])
    },
    computed: {
        checkForm() {
            return this.login.length && this.password.length >= 6
        }
    },
    components: {
        AlertErrors
    }
}
</script>

<style lang="scss" scoped>
    #loginPage {
        display: flex;
        flex-direction: column;
        height: 100vh;
        justify-content: center;
    }

    .loginForm {
        width: 100%;
        padding: 30px;
        background: #fff;
        box-shadow: 0 0 12px 5px rgba(0,0,0,.025);
        border-radius: 10px;

        &__title {
            text-align: center;
            font-weight: 600;
            margin-bottom: 20px;
        }
    }
</style>