<template>
    <div class = "layout">
        <main class = "content">
            <router-view/>
        </main>
    </div>
</template>

<script>

export default {
    components: {
        //
    }
}
</script>