<template>
    <div class = "layout">
        <StudentCabinetHeader />
        <main class = "content">
           <fade-transition origin="center" mode="out-in" :duration="250">
                <router-view/>
            </fade-transition>
        </main>
    </div>
</template>

<script>
import { FadeTransition } from "vue2-transitions";
import StudentCabinetHeader from "@/views/studentCabinet/layout/StudentCabinetHeader";

export default {
    computed: {
        title() {
            return this.$route.meta.title ? this.$route.meta.title : ''; 
        }
    },
    head: {
        title() {
            return {
                inner: this.title ? this.title : 'Личный кабинет'
            }
        }
    },
    components: {
        FadeTransition,
        StudentCabinetHeader
    }
}
</script>

<style lang="scss">
    a.goBack {
        color: #9f9f9f;
        display: flex;
        align-items: center;
        margin-bottom: 2rem;
        transition: color .2s;

        > i {
            margin-top: 2px;
            margin-right: .5rem;
        }

        &:hover {
            color: #6e6e6e;
        }
    }
</style>