<template>
    <div class = "container">
        <router-link :to = "{name: 'studentCabinet.course', params: {id: $route.params.courseId}}" class = "goBack"><i class="fas fa-angle-left"></i> Вернуться к курсу</router-link>
        <template v-if = "lesson">
            <div class = "lesson">
                <h3 class = "mb-4">{{lesson.name}}</h3>
                <div class = "lesson__body" v-show = "!test.process">
                    <p v-for = "(ptext, index) in lesson.content.text.split('\r\n')" :key = "index">{{ptext}}</p>
                    <div class = "lesson__actions">
                        <base-button type="secondary" @click = "toPrevLesson" :disabled = "!lesson.prev">Предыдущий урок</base-button>
                        <base-button type="primary" @click = "startTest" v-if = "lesson.test">Пройти тест</base-button>
                        <base-button :type="lesson.test ? 'secondary' : 'primary'" @click = "toNextLesson(lesson.test ? false : true)">Следующий урок</base-button>
                    </div>
                </div>
                <template v-if = "lesson.test">
                    <div class = "lessonTest" v-show = "test.process">
                        <template v-if = "!test.showResult">
                            <badge class = "lessonTest__progress" type="primary">Вопрос {{Number(test.current) + 1}} из {{lesson.test.questions.length}}</badge>
                            <div class = "lessonTestItem" v-if = "currentQuestion">
                                <div class = "lessonTestItem__header">
                                    <div class = "lessonTestItem__question">{{currentQuestion.text}}</div>
                                </div>
                                <div class = "lessonTestItem__body">
                                    <div class = "lessonTestItem__answers">
                                        <template v-if = "currentQuestion.type == 'radio'">
                                            <base-radio v-for = "answer in currentQuestion.answers" :key = "answer.number" :name="answer.number.toString()" class="mb-3" v-model="test.currentAnswer">{{answer.text}}</base-radio>
                                        </template>
                                        <template v-else-if = "currentQuestion.type == 'checkbox'">
                                            <CheckboxGroup :items = "answersFormatGroupCheckbox(currentQuestion.answers)" v-model = "test.currentAnswer" />
                                        </template>
                                    </div>
                                </div>
                                <div class = "lessonTestItem__footer">
                                    <base-button type="primary" @click = "confirmAnswer">{{test.current + 1 != lesson.test.questions.length ? 'Следующий вопрос': 'Завершить тест'}}</base-button>
                                    <base-button type="secondary" @click = "init">Вернуться к уроку</base-button>
                                </div>
                            </div>
                        </template>
                        <template v-else>
                            <template v-if = "test.success">
                                <base-alert type="success">
                                    <strong>Все верно</strong><br>Вы верно ответили на все вопросы и можете приступить к следующему уроку
                                </base-alert>
                                <base-button type="primary" @click = "toNextLesson(false)">Следующий урок</base-button>
                            </template>
                            <template v-else>
                                <base-alert type="danger">
                                    <strong>Неудача</strong><br>Вы где-то ошиблись, ознакомьтесь с уроком еще раз и попробуйте прости тест повторно
                                </base-alert>
                                <base-button type="primary" @click = "test.process = false; test.showResult = false;">Перепрочитать урок</base-button>
                            </template>
                        </template>
                    </div>
                </template>
            </div>
        </template>
    </div>
</template>

<script>

import CheckboxGroup from "@/views/components/CheckboxGroup";

export default {
    async mounted() {
        await this.init();
    },
    data: () => ({
        lesson: null,
        test: {
            process: false,
            answers: {},
            current: 0,
            currentAnswer: '0',
            showResult: false,
            success: false,
        }
    }),
    methods: {
        async init() {
            const params = this.$route.params;
            await this.$api.course.getLesson(params.courseId, params.block, params.lesson)
            .ok((data, message) => {
                this.lesson = data;
            })
            .catch(() => {
                this.$router.push({name: "studentCabinet.courses"});_
            })
            .send();

            await this.$api.course.setFlagViewLesson(params.courseId, params.block, params.lesson).send();
 
            this.test = {
                process: false,
                answers: {},
                current: 0,
                currentAnswer: '0',
                showResult: false,
                success: false,
            };
        },
        startTest() {
            this.test.current = '0';
            this.test.process = true;
        },
        async confirmAnswer() {
            let newAnswer = {};
            newAnswer[this.test.current] = this.test.currentAnswer;
            this.test.answers = {...this.test.answers, ...newAnswer};
            this.test.currentAnswer = 0;

            if (this.test.current + 1 == this.lesson.test.questions.length) {
                const params = this.$route.params;
                await this.$api.student.checkTestLesson(params.courseId, params.block, params.lesson, this.test.answers)
                .ok((data, message) => {
                    this.test.showResult = true;
                    this.test.success = data;
                })
                .send();
            }
            else {
                this.test.current++;
            }
        },
        answersFormatGroupCheckbox(answers) {
            let res = {};
            for (let answer of answers) {
                res[answer.number] = answer.text;
            }
            return res;
        },
        async toNextLesson(withSet = true) {
            if (withSet) {
                const params = this.$route.params;
                await this.$api.student.completeLesson(params.courseId, params.block, params.lesson)
                .ok(() => {
                    //
                })
                .send();
            }

            this.$router.push({name: "studentCabinet.lesson", params: {
                courseId: this.$route.params.courseId,
                block: this.lesson.next.block,
                lesson: this.lesson.next.lesson,
            }});
            this.init();
        },
        async toPrevLesson() {
            this.$router.push({name: "studentCabinet.lesson", params: {
                courseId: this.$route.params.courseId,
                block: this.lesson.prev.block,
                lesson: this.lesson.prev.lesson,
            }});
            this.init();
        }
    },
    computed: {
        currentQuestion() {
            return this.lesson.test.questions[this.test.current];
        }
    },
    components: {
        CheckboxGroup
    }
}
</script>

<style lang="scss" scoped>
    .lesson {
        background: #fff;
        border-radius: 8px;
        box-shadow: 0 0 11px 2px rgba(0,0,0,.05);
        padding: 2rem;

        &__actions {
            margin-top: 2rem;
            display: flex;
            justify-content: space-between;
        }
    }

    .lessonTest {
        &__progress {
            margin-bottom: 1rem;
        }
    }

    .lessonTestItem {
        &__header {
            margin-bottom: 1rem;
            display: flex;
            align-items: center;
        }

        &__footer {
            margin-top: 2rem;
            display: flex;
            justify-content: space-between;
        }
    }
</style>