<template>
    <div class = "container">
        <h3 class = "mb-5">Добро пожаловать</h3>
        <div class = "">{{student.lastName}} {{student.firstName}}</div>
    </div>
</template>

<script>
import {mapGetters} from 'vuex';

export default {
    computed: {
        ...mapGetters('studentAuth', ['student'])
    }
}
</script>