<template>
    <div class = "container">
        <router-link :to = "{name: 'studentCabinet.courses'}" class = "goBack"><i class="fas fa-angle-left"></i> Вернуться к списку курсов</router-link>
        <template v-if = "course">
            <h3 class = "mb-5">{{course.name}}</h3>
            <h5 class = "mb-4">Теоритическая часть</h5>
            <div class = "courseBlocks">
                <div class = "courseBlock" v-for = "block in courseTheoryBlocks" :key = "block.number">
                    <div class = "courseBlock__header">
                        <badge class = "courseBlock__number" :type="isCompleteBlock(block) ? 'success' : 'primary'">{{block.number}}</badge>
                        <div class = "courseBlock__name">{{block.name}}</div>
                        <i v-if = "isCompleteBlock(block)" class="courseBlock__successStatus fas fa-check"></i>
                    </div>
                    <div class = "courseBlock__lessons">
                        <div class = "courseLesson" v-for = "lesson in block.lessons" :key = "lesson.number">
                            <badge class = "courseLesson__number" :type="isCompleteLesson(block.number, lesson.number) ? 'success' : 'primary'">{{block.number + '.' + lesson.number}}</badge>
                            <div class = "courseLesson__name">
                                <router-link v-if = "true" :to = "{name: 'studentCabinet.lesson', params: {courseId: course.id, block: block.number, lesson: lesson.number}}">{{lesson.name}}</router-link>
                                <span v-else>{{lesson.name}}</span>
                                <i v-if = "lesson.withTest" class="courseLesson__testIcon fas fa-tasks"></i>
                            </div>
                            <i v-if = "isCompleteLesson(block.number, lesson.number)" class="courseLesson__successStatus fas fa-check"></i>
                        </div>
                    </div>
                </div>
            </div>
            <h5 class = "mt-5 mb-4">Практика на эмуляторе</h5>
            <div class = "courseBlocks">
                <div class = "courseBlock" v-for = "block in courseEmulatorBlocks" :key = "block.number">
                    <div class = "courseBlock__header">
                        <badge class = "courseBlock__number" :type="isCompleteBlock(block) ? 'success' : 'primary'">{{block.number}}</badge>
                        <div class = "courseBlock__name">{{block.name}}</div>
                        <i v-if = "isCompleteBlock(block)" class="courseBlock__successStatus fas fa-check"></i>
                    </div>
                    <div class = "courseBlock__lessons">
                        <div class = "courseLesson" v-for = "lesson in block.lessons" :key = "lesson.number">
                            <badge class = "courseLesson__number" :type="isCompleteLesson(block.number, lesson.number) ? 'success' : 'primary'">{{block.number + '.' + lesson.number}}</badge>
                            <div class = "courseLesson__name">
                                <span>{{lesson.name}}</span>
                            </div>
                            <i v-if = "isCompleteLesson(block.number, lesson.number)" class="courseLesson__successStatus fas fa-check"></i>
                        </div>
                    </div>
                </div>
            </div>
            <h5 class = "mt-5 mb-4">Практика с инструктором</h5>
            <div class = "courseBlocks">
                <div class = "courseBlock" v-for = "block in coursePracticeBlocks" :key = "block.number">
                    <div class = "courseBlock__header">
                        <badge class = "courseBlock__number" :type="isCompleteBlock(block) ? 'success' : 'primary'">{{block.number}}</badge>
                        <div class = "courseBlock__name">{{block.name}}</div>
                        <i v-if = "isCompleteBlock(block)" class="courseBlock__successStatus fas fa-check"></i>
                    </div>
                    <div class = "courseBlock__lessons">
                        <div class = "courseLesson" v-for = "lesson in block.lessons" :key = "lesson.number">
                            <badge class = "courseLesson__number" :type="isCompleteLesson(block.number, lesson.number) ? 'success' : 'primary'">{{block.number + '.' + lesson.number}}</badge>
                            <div class = "courseLesson__name">
                                <span>{{lesson.name}}</span>
                            </div>
                            <i v-if = "isCompleteLesson(block.number, lesson.number)" class="courseLesson__successStatus fas fa-check"></i>
                        </div>
                    </div>
                </div>
            </div>
        </template>
    </div>
</template>

<script>
export default {
    async mounted() {
        await this.$api.course.fetchOne(this.$route.params.id)
        .ok((data, message) => {
            this.course = data;
        })
        .send();

        await this.$api.student.courseProgress(this.$route.params.id)
        .ok((data, message) => {
            this.progress = data;
        })
        .send();
    },
    data: () => ({
        course: null,
        progress: null,
    }),
    computed: {
        courseTheoryBlocks() {
            return this.course.blocks.filter(el => el.type.code == 'theory');
        },
        courseEmulatorBlocks() {
            return this.course.blocks.filter(el => el.type.code == 'emulator');
        },
        coursePracticeBlocks() {
            return this.course.blocks.filter(el => el.type.code == 'practice');
        }
    },
    methods: {
        isCompleteLesson(block, lesson) {
            return this.progress && this.progress.find(el => el.block == block && el.lesson == lesson && el.isComplete) ? true : false;
        },
        isCompleteBlock(block) {
            for (let lesson of block.lessons) {
                if (!this.progress || !this.progress.find(el => el.block == block.number && el.lesson == lesson.number && el.isComplete)) {
                    return false;
                }
            }
            return true;
        }
    }
}
</script>

<style lang="scss" scoped>
    .courseBlocks {
        background: #fff;
        padding: 0 1rem;
        box-shadow: 0 0 11px 2px rgba(0, 0,0,.05);
        border-radius: 8px;
    }
    .courseBlock {
        background: #fff;
        padding: 1rem 0;
        border-bottom: 1px solid #eee;

        &__header {
            display: flex;
            align-items: center;
        }

        &__name {
            font-weight: 400;
        }

        &__number {
            margin-right: .75rem;
        }

        &__lessons {
            padding-left: 1.5rem;
            padding-top: 1rem;
        }

        &__successStatus {
            color: #2dce89;
            margin-left: 1rem;
        }

        &:last-child {
            border-bottom: 0;
        }
    }

    .courseLesson {
        background: #fff;
        padding: .5rem 0;
        display: flex;
        align-items: center;

        &__name {
            font-weight: 400;
        }

        &__number {
            margin-right: .75rem;
        }

        &__successStatus {
            color: #2dce89;
            margin-left: 1rem;
        }

        &__testIcon {
            margin-left: 5px;
        }

        &:last-child {
            border-bottom: 0;
        }
    }
</style>