<template>
    <div class = "container">
        <h3 class = "mb-5">Доступные курсы</h3>
        <div class = "row">
            <div class = "col-6" v-for = "course in courses" :key = "course.id">
                <router-link :to = "{name: 'studentCabinet.course', params: {id: course.id}}" class = "course">
                    <div class = "course__image">
                        <img src = "/img/drone.png"/>
                    </div>
                    <div class = "course__info">
                        <div class = "course__name">{{course.name}}</div>
                    </div>
                </router-link>
            </div>
        </div>
    </div>
</template>

<script>
import {mapGetters} from 'vuex';

export default {
    async mounted() {
        if (this.$store.getters['course/all'].length == 0) {
            await this.$store.dispatch('course/fetchAll');
        }
    },
    computed: {
        ...mapGetters('course', {
            courses: 'all',
        })
    }
}
</script>

<style lang="scss" scoped>
    .course {
        background: #fff;
        box-shadow: 0 0 11px 2px rgba(0,0,0,.05);
        padding: 0 20px 20px 20px;
        border-radius: 8px;
        transition: transform .3s;
        // display: flex;
        display: block;

        &__image {
            width: 100%;

            > img {
                max-width: 100%;
                height: auto;
            }
        }

        &__info {
            margin-top: 1rem;
        }

        &__name {
            font-weight: 600;
            font-size: 1rem;
            text-align: center;
        }

        &:hover {
            transform: translateY(-.5rem); 
            cursor: pointer;
        }
    }
</style>