<template>
    <div id = "notFoundPage">
        <div class = "errorNumber">404</div>
        <div class = "errorLabel">Страница не найдена</div>
    </div>
</template>

<script>
export default {
    
}
</script>

<style lang="scss" scoped>
    #notFoundPage {
        height: 100vh;
        width: 100vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .errorNumber {
        font-size: 8rem;
        font-weight: bold;
    }

    .errorLabel {
        font-size: 1.5rem;
        margin-top: 1rem;
        text-align: center;
    }
</style>
