<template>
    <div id="app">
        <router-view/>
    </div>
</template>
<script>
import Modal from "@/components/Modal";
import VueFlatPickrRu from 'flatpickr/dist/l10n/ru.js';

export default {
    data: () => ({
    }),
    methods: {
    },
    provide() {
        
    },
    watch: { 
        '$route': {
            handler: function(route) {
                if (route.meta && route.meta.title) {
                    document.title = route.meta.title + ' - Rosseti';
                }
            },
            deep: true,
            immediate: true
        }
    },
    components: {
        Modal
    }
}
</script>

<style lang="scss">
    .content {
        padding: 40px;
    }
</style>
