<template>
    <base-alert type="danger" v-show = "errorsFormated.length">
        <div v-for = "(error, i) in errorsFormated" :key = "i">{{error}}</div>
    </base-alert>
</template>

<script>
export default {
    props: ['errors'],
    computed: {
        errorsFormated() {
            return this.$api.formatErrors(this.errors);
        }
    }
}
</script>