<template>
    <div class = "checkboxGroup">
        <base-checkbox v-for = "(item, key) in items" :key = "key" class="mb-3" :checked = "values[key]" @input = "check => change(key, check)">{{item}}</base-checkbox>
    </div>
</template>

<script>
export default {
    props: {
        value: {},
        items: {
            default: [],
        }
    },
    mounted() {
        if (Array.isArray(this.items)) {
            for (let key in this.items) {
                this.values[key] = Array.isArray(this.value) && this.value.includes(key);
            }
        }
    },
    data: () => ({
        values: {},
    }),
    methods: {
        change(key, check) {
            this.values[key] = check;

            let res = [];
            for (let k in this.values) {
                if (this.values[k]) {
                    res.push(k);
                }
            }
            this.$emit('input', res);
        }
    },
    watch: {
        items(items) {
            let values = {};
            for (let key in items) {
                values[key] = Array.isArray(this.value) && this.value.includes(key);
            }
            this.values = Object.assign({}, values);
        }
    }
}
</script>