<template>
    <div class = "radioGroup">
        <base-radio v-for = "(item, key) in items" :key = "key" class="mb-3" :checked = "values[key]" @input = "check => change(key, check)">{{item}}</base-radio>
    </div>
</template>

<script>
export default {
    props: {
        value: {},
        items: {
            default: [],
        }
    },
    mounted() {
        if (Array.isArray(this.items)) {
            for (let key in this.items) {
                this.values[key] = this.value == key;
            }
        }
    },
    data: () => ({
        values: {},
    }),
    methods: {
        change(key, check) {
            this.values[key] = check;
            this.$emit('input', this.values.findIndex(el => el === true));
        }
    },
    watch: {
        items(items) {
            let values = {};
            for (let key in items) {
                values[key] = this.value == key;
            }
            this.values = Object.assign({}, values);
        }
    }
}
</script>